.container-sixth-section{
    justify-content: center;
    background-color: #7E5843;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}
.title-pop{
    bottom: 200px;
    left: 300px;
    color: #D1CFC9;
    text-align: left;
    font-family: DM Serif Display;
    font-size: 94px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.45px;
}

.container-title{
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    position: absolute;
    max-width: 1200px;
    z-index: 1;
    overflow: hidden;
    top: 380px;
    right: 150px;
}

.cont-title{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: -5px;
    z-index: 1;
}

.slide-sixth-section{
    padding-top: 30px;
    width: 90%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.slide-sixth-section:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}


.images-sixth-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dua{
    position: absolute;
    right: 180px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 28%;
    height: 20%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.dua:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

.taylor{
    position: relative;
    display: flex;
    width: 80%;
    height: 23%;
    justify-content: center;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.taylor:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

.ariana{
    display: flex;
    width: 25%;
    height: 20%;
    position: absolute;
    right: 800px;
    top: 550px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.ariana:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

.beyonce{
    display: flex;
    width: 20%;
    height: 18%;
    position: relative;
    right: 580px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.beyonce:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

@media screen and (max-width: 1040px){

    .container-title{
        top: 350px;
    }
}

@media screen and (max-width: 1000px){

    .container-title{
        top: 300px;
    }
}

@media screen and (max-width: 850px){

    .container-title{
        top: 250px;
    }
}

@media screen and (max-width: 798px){

    .container-title{
        top: 200px;
    }
}

@media screen and (max-width: 780px){

    .container-title{
        top: 50px;
    }
}

@media screen and (max-width: 665px){
    .slide-sixth-section{
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 635px){

    .title-pop{
        font-size: 64px;
    }
}