.container-seventh-section{
    background-color: #8F856E;
    padding-top: 90px;
    padding-bottom: 90px;
}

.title-seventh-section{
    color: #D1CFC9;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 94px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.45px;
}
.subtitle-seventh-section{
    color: #D1CFC9;
    text-align: center;
    font-family: Jura;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 23.28px
}

.section-top{
    position: relative;
    display: inline-block;
}

.cont2{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: -5px;
    z-index: 1;
}

.title-down{
    color: #D1CFC9;
    width: 75%;
    text-align: center;
    font-family: Jura;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 23.28px;
    padding: 30px;
}

.cont-title-down{
    display: flex;
    justify-content: center;
}

.slide-colecoes{
    width: 52%;
}

.card-img-seventh{
    width: 90%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.card-img-seventh:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}


@media screen and (max-width: 635px){
    .title-down{
        font-size: 16px;
    }

    .title-seventh-section{
        font-size: 64px;
    }
}