@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.container{
  background-image: url("./images/background-home.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 30px;
}

.menu{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 50px;
  color: #D1CFC9;
  text-align: center;
  font-family: Mitr;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}

.nav-title{
  position: absolute;
  right: 660px;
  color: #D1CFC9;
  text-align: center;
  font-family: Jura;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 23.28px;
}

.home-title{
  display: flex;
  flex-direction: row;
  padding-top: 450px;
  justify-content: center;
}

.title-item{
  color: #D1CFC9;
  font-family: DM Serif Display;
  font-size: 240px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.2px;
}

.little-title-item{
  color: #D1CFC9;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}