.container-fourth-section{
    background-color: #8F856E;
}
.retangulo{
    width: 100%;
    height: 200px;
}
.fiona{
    width: 50%;
}
.container-fiona{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-fiona{
    color: #D1CFC9;
    font-family: DM Serif Display;
    font-size: 170px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.45px;
}
.discografia{
    color: #D1CFC9;
    font-family: Jura;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 23.28px
}
.top-section{
    position: relative;
    display: inline-block;
}
.title-fourth-section{
    position: absolute;
    left: 300px;
    padding-top: 180px;
}
.swiper-fourth-section{
    padding-top: 80px;
}