.title-section{
    color: #7E5843;
    text-align: center;
    font-family: Jura;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 23.28px;
    padding: 60px;
}
.container-section{
    background-color: #d1cfc9;
    justify-content: center;
}
.card-img{
    width: 80%;
    height: 80%;
}