.title-vinis{
    text-align: center;
    font-family: Jura;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 23.28px;
    padding: 60px;
    color: #7E5843;
    padding-bottom: 0px;
}
.container-section{
    justify-content: center;
    background-color: #D1CFC9;
}
.card-img{
    width: 80%;
    height: 80%;
}
.destaque{
    color: #7E5843;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.45px;
}
.title-section{
    position: relative;
}